.magiczone {
    border: solid;
}

.center {
    width: 300px;
    margin: 0 auto;
    text-align: center;
    font-size: 20px;
}

.big-text {
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    color: #2A3990;
}