<ion-header [translucent]="true">
  <ion-toolbar color="pink">
    <ion-title><ion-img id="icon" src="../../assets/icon/icon.png"></ion-img></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <app-line-chart class="ion-padding"></app-line-chart>

  <div class="ion-padding">
    <div class="ion-padding-bottom">現在のストレス: {{stress*100}} [%]</div>
    <ion-progress-bar class="ion-margin-bottom" [value]="stress" [buffer]="stress" color="blue"></ion-progress-bar>
  </div>

  <div class="ion-padding">
    <div class="ion-padding-bottom">魔力階級</div>
    <div class="big-text">{{level}}</div>
  </div>

  <ion-button class="ion-margin-top" expand="block" color="pink" (click)="navigateToMagic()" strong>魔法陣を描く</ion-button>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button color="pink" (click)="navigateToList()">
      <ion-icon name="newspaper-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
