<ion-header>
  <ion-toolbar color="pink">
    <ion-buttons slot="start">
      <ion-back-button id="back"></ion-back-button>
    </ion-buttons>
    <ion-title>召喚設定</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <div class="ion-padding-bottom">発動レベル</div>
    <ion-grid (click)="onGrid($event)">
      <ion-row>
        <ion-col>
          <ion-button id="low" expand="block" [fill]="lowFill" color="pink">下級</ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="middle" expand="block" [fill]="middleFill" color="pink" [disabled]="middleDisabled">中級</ion-button>
        </ion-col>
        <ion-col>
          <ion-button id="high" expand="block" [fill]="highFill" color="pink" [disabled]="highDisabled">上級</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

  <form class="ion-padding" (submit)="presentModal()">
    <ion-item lines="full" class="ion-padding">
      <ion-label position="floating">技名</ion-label>
      <ion-input required type="text" [(ngModel)]="name" name="name"></ion-input>
    </ion-item>
    <ion-button type="submit" expand="block" color="pink" class="" strong>魔法陣召喚</ion-button>
  </form>
</ion-content>
